
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}


.button {
    text-transform: lowercase;
    font-weight: 450;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.button:hover {
    color: var(--light);
    background: rgb(227, 146, 146);
    font-weight: 650;
   
}

input {
    border-radius: 5px;
    
}

input.field{
    border: 1px solid #ccc;
    outline: none;
  }


